<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Index page</h1>
    <script
      type="text/javascript"
      id="botcopy-embedder-d7lcfheammjct"
      class="botcopy-embedder-d7lcfheammjct"
      data-botId="5e75219d099273f574931896"
      data-snippetRef='{
      "websiteURL":"https://rhinoplastynewyork.com",
			"doctor":"Miller",
			"doctorUID":"rC6oSDMO0e4FtKgZgqPp",
			"practicePUID":"W4BLkBYcSCAprPbtALgD",
			"coordinator":"Joseph",
			"coordinatorEmail":"joseph@gothamplasticsurgeryny.com"
		}'
    >
      var s = document.createElement('script')
      s.type = 'text/javascript'
      s.async = true
      s.src = 'https://widget.botcopy.com/js/injection.js'
      document.addEventListener('DOMContentLoaded', (event) => {
        const bot = document.getElementById('botcopy-embedder-d7lcfheammjct')
        bot.appendChild(s)

        const visited = localStorage.getItem('@visited')
        if (!visited) {
          setTimeout(() => {
            const botManager = bot.getRootNode().defaultView.Botcopy
            botManager.openPrompt()
            localStorage.setItem('@visited', 'true')
          }, 2000)
        }

        if (visited) {
          setTimeout(() => {
            const botManager = bot.getRootNode().defaultView.Botcopy
            botManager.closePrompt()
            botManager.openWidget()
            botManager.closeWidget()
          }, 2500)
        }
      })
    </script>
  </body>
</html>
